<?xml version="1.0"?>
<config>
    <modules>
        <Wsu_Irisimple>
            <version>0.1.0</version>
        </Wsu_Irisimple>
    </modules>
    <frontend>
        <routers>
            <irisimple>
                <use>standard</use>
                <args>
                    <module>Wsu_Irisimple</module>
                    <frontName>irisimple</frontName>
                </args>
            </irisimple>
        </routers>
        <layout>
            <updates>
                <irisimple>
                    <file>iri.xml</file>
                </irisimple>
            </updates>
        </layout>
    </frontend>
    <global>
    	<fieldsets>
    		 <sales_convert_quote_payment>
    		 	<iri_zip>
    		 		<to_order_payment>*</to_order_payment>
    		 	</iri_zip>
    		 	<iri_dep>
    		 		<to_order_payment>*</to_order_payment>
    		 	</iri_dep>
    		 </sales_convert_quote_payment>
    	</fieldsets>
        <models>
            <irisimple>
                <class>Wsu_Irisimple_Model</class>
                <resourceModel>irisimple_mysql4</resourceModel>
            </irisimple>
            <irisimple_mysql4>
                <class>Wsu_Irisimple_Model_Mysql4</class>
                <entities>
                    <irisimple>
                        <table>irisimple</table>
                    </irisimple>
                </entities>
            </irisimple_mysql4>
        </models>
        <resources>
            <irisimple_setup>
                <setup>
                    <module>Wsu_Irisimple</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </irisimple_setup>
            <irisimple_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </irisimple_write>
            <irisimple_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </irisimple_read>
        </resources>
        <blocks>
            <irisimple>
                <class>Wsu_Irisimple_Block</class>
            </irisimple>
        </blocks>
        <helpers>
            <irisimple>
                <class>Wsu_Irisimple_Helper</class>
            </irisimple>
        </helpers>
    </global>
    <default>
        <payment>
            <irisimple>
                <active>1</active>
                <model>irisimple/irisimple</model>
                <order_status>processing</order_status>
                <title>Wsu Payment Method</title>
                <message>Please draw check in favour of Test Corporation: #XXXX-XXXX</message>
            </irisimple>
         </payment>
    </default>
</config>