<?xml version="1.0"?>
<config>
	<modules>
		<Wsu_IRI>
			<version>0.1.0</version>
		</Wsu_IRI>
	</modules>
	<global>
		<helpers>
			<iri>
				<class>Wsu_IRI_Helper</class>
			</iri>
		</helpers>
		<models>
			<iri>
				<class>Wsu_IRI_Model</class>
				<resourceModel>iri_mysql4</resourceModel>
			</iri>
			<iri_mysql4>
				<class>Wsu_IRI_Model_Mysql4</class>
				<entities>
					<iri>
						<table>customers_credit_applied</table>
					</iri>
				</entities>	
			</iri_mysql4>
			<checkout>
				<rewrite>
					<type_onepage>Wsu_IRI_Model_Checkout_Type_Onepage</type_onepage>
					<type_multishipping>Wsu_IRI_Model_Checkout_Type_Multishipping</type_multishipping>
				</rewrite>
			</checkout>
			<customer>
				<rewrite>
					<customer>Wsu_IRI_Model_Customer</customer>
				</rewrite>
			</customer>
		</models>
		<resources>
			<iri_setup>
				<setup>
					<module>Wsu_IRI</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</iri_setup>
			<iri_write>
				<connection>
					<use>core_write</use>
				</connection>
			</iri_write>
			<iri_read>
				<connection>
					<use>core_read</use>
				</connection>
			</iri_read>
		</resources>
		<blocks>
			<iri>
				<class>Wsu_IRI_Block</class>
			</iri>
			<adminhtml>
				<rewrite>
					<customer_edit_tab_account>Wsu_IRI_Block_Adminhtml_Customer_Editcustomer</customer_edit_tab_account>
				</rewrite>
			</adminhtml>
		</blocks>
	</global>
	<frontend>
		<routers>
			<iri>
				<use>standard</use>
				<args>
					<module>Wsu_IRI</module>
					<frontName>iri</frontName>
				</args>
			</iri>
		</routers>
		<events>
			<checkout_type_onepage_save_order_after>
				<observers>
					<checkout_save_order_Credit>
						<type>singleton</type>
						<class>Wsu_IRI_Model_Observer</class>
						<method>saveCredit</method>
					</checkout_save_order_Credit>
				</observers>
			</checkout_type_onepage_save_order_after>
			<checkout_submit_all_after>
				<observers>
					<checkout_save_multi_order_Credit>
						<type>singleton</type>
						<class>Wsu_IRI_Model_Observer</class>
						<method>saveMultiCredit</method>
					</checkout_save_multi_order_Credit>
				</observers>
			</checkout_submit_all_after>
			<payment_method_is_active>
				<observers>
					<checkout_payment_available>
						<type>singleton</type>
						<class>Wsu_IRI_Model_Observer</class>
						<method>isAvailable</method>
					</checkout_payment_available>
				</observers>
			</payment_method_is_active>
			<sales_order_place_after>
				<observers>
					<auto_invoice_order>
						<type>singleton</type>
						<class>Wsu_IRI_Model_Observer</class>
						<method>implementOrderStatus</method>
					</auto_invoice_order>
				</observers>
			</sales_order_place_after>
		</events>
		<layout>
			<updates>
				<iri>
					<file>iri.xml</file>
				</iri>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<iri>
					<file>iri.xml</file>
				</iri>
			</updates>
		</layout>
		<events>
			<sales_order_creditmemo_refund>
				<observers>
					<Wsu_IRI_Updated>
						<type>singleton</type>
						<class>Wsu_IRI_Model_Observer</class>
						<method>revertCredit</method>
					</Wsu_IRI_Updated>
				</observers>
			</sales_order_creditmemo_refund>
		</events>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Wsu_IRI_Adminhtml before="Mage_Adminhtml">Wsu_IRI_Adminhtml</Wsu_IRI_Adminhtml>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<default>
		<payment>
			<iri>
				<specificcustomers>1,2,3,4</specificcustomers>
				<active>0</active>
				<model>iri/method_iri</model>
				<order_status>pending</order_status>
				<title>Interdepartmental Requisition Invoice (IRI) Payment</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</iri>
		</payment>
	</default>
</config>
